.room-list {
  .smallimg {
    height: 200px;
    width: 100% !important;
    border-radius: 5px !important;
    transition: transform 0.3s ease-in-out;
    &:hover {
      transform: scale(1.3);
        cursor: pointer;
    }
  }
  h1 {
    font-size: 20px !important;
  }
  .float-right {
    float: right;
  }
  
}
.modal-dialog{
    max-width: 50%  !important;
    transition: 0.3s;
    animation: fadeIn 1s;
  }
